HELP_SAMPLES.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/resources/**/*.jar
!**/src/test/**/resources/**/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### JUnit ###
.junit/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
Desktop.ini

### H2 Database ###
/data/
*.mv.db
*.trace.db
